
<ion-header [translucent]="true">
  <!--
    <ion-toolbar>

      <ion-tabs>

        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="tab1" href="/tabs/tab1">

            <ion-label>HOME</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab2" href="/tabs/tab2">

            <ion-label>GALERIA</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab3" href="/tabs/tab3">

            <ion-label tab="tab3" href="/tabs/tab3">SOBRE</ion-label>
          </ion-tab-button>
        </ion-tab-bar>

      </ion-tabs>

    </ion-toolbar>
  </ion-header>
   -->
  <ion-content [fullscreen]="true">
    <div class= "logoContainer">
      <div class="logo">

      </div>
    </div>
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img class="img1" alt="">
          <img src="../../assets/icon/img3.png" alt="asdasd">
        </div>
        <div class="carousel-item">
          <img src="../../assets/icon/img1.jpg" alt="asd">
        </div>
        <div class="carousel-item">
          <img src="../../assets/icon/img4.png" alt="asdasd">
        </div>
        <div class="carousel-item">
          <img src="../../assets/icon/img3.png" alt="asdasd">
        </div>
        <div class="carousel-item">
          <img src="../../assets/icon/img5.png" alt="asdasd">
        </div>
      </div>
    </div>


<div class="content-overlay">
  <div class="welcome-section">
    <h1>Qualidade e precisão em todos os projetos.</h1>
  </div>
  <!-- Mais conteúdo aqui -->
  <div class="flex">
    <div class="services-section">
      <h2>Nossos Serviços</h2>
      <ul>
        <li>Design personalizado</li>
        <li>Fabricação de móveis</li>
        <li>Restauração de móveis</li>
        <li>Consultoria em marcenaria</li>
      </ul>
      <p>Atendemos em todo o Vale dos Sinos</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d221590.83775918052!2d-51.0972377!3d-29.7962336!3m2!1i1024!2i768!4f13.1!2m1!1svale%20dos%20rio%20dos%20sinos%20!5e0!3m2!1sen!2sbr!4v1711306424681!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>


    </div>

    <div class="contact-section">
      <h2>Fale Conosco</h2>
      Telefone: <a href="https://wa.me/51993337971"><p>(11) 993337971</p></a>
      <p>E-mail: <a href="mailto:contatomarcenariaabc.com.br">contatomarcenariaabc.com.br</a></p>
      <form class="contact-form">
        <input type="text" placeholder="Seu nome" required>
        <input type="email" placeholder="Seu e-mail" required>
        <textarea placeholder="Sua mensagem" required></textarea>
        <button type="submit">Enviar Mensagem</button>
      </form>
    </div>
  </div>

</div>










  <!--
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="/src/assets/shapes.svg" alt="">
          Item 1
        </div>
        <div class="carousel-item">
          <img src="/src/assets/icon/img2.png" alt="">
          Item 2</div>
        <div class="carousel-item">
          <img src="/src/assets/icon/img3.png" alt="">
          Item 3</div>

      </div>
    </div>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 1</ion-title>
      </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 1 page"></app-explore-container>
  -->

  </ion-content>
